/.RailsDescriptionLabelProvider.java._trace
/.RailsDescriptionLabelProvider.xtendbin
/.RailsLabelProvider.java._trace
/.RailsLabelProvider.xtendbin
/RailsDescriptionLabelProvider.java
/RailsLabelProvider.java
