<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RailsTarget -->
      <package
            uri="http://gruposaberes.co/rails_target"
            class="railsTarget.RailsTargetPackage"
            genModel="metamodels/RailsTarget.genmodel"/>
   </extension>

</plugin>
