<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.gruposaberes.co/model/Rails" 
       class = "co.gruposaberes.model.rails.RailsPackage"
       genModel = "model/Rails.genmodel" /> 
	
  </extension>



</plugin>
