<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated universal3 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="universal.core.presentation.CoreModelWizardID"
            name="%_UI_CoreModelWizard_label"
            class="universal.core.presentation.CoreModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CoreModelFile.gif">
         <description>%_UI_CoreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated universal3 -->
      <editor
            id="universal.core.presentation.CoreEditorID"
            name="%_UI_CoreEditor_label"
            icon="icons/full/obj16/CoreModelFile.gif"
            extensions="core"
            class="universal.core.presentation.CoreEditor"
            contributorClass="universal.core.presentation.CoreActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated universal3 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="universal.metrics.presentation.MetricsModelWizardID"
            name="%_UI_MetricsModelWizard_label"
            class="universal.metrics.presentation.MetricsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MetricsModelFile.gif">
         <description>%_UI_MetricsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated universal3 -->
      <editor
            id="universal.metrics.presentation.MetricsEditorID"
            name="%_UI_MetricsEditor_label"
            icon="icons/full/obj16/MetricsModelFile.gif"
            extensions="metrics"
            class="universal.metrics.presentation.MetricsEditor"
            contributorClass="universal.metrics.presentation.MetricsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated universal3 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="universal.oracleforms.presentation.OracleformsModelWizardID"
            name="%_UI_OracleformsModelWizard_label"
            class="universal.oracleforms.presentation.OracleformsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OracleformsModelFile.gif">
         <description>%_UI_OracleformsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated universal3 -->
      <editor
            id="universal.oracleforms.presentation.OracleformsEditorID"
            name="%_UI_OracleformsEditor_label"
            icon="icons/full/obj16/OracleformsModelFile.gif"
            extensions="oracleforms"
            class="universal.oracleforms.presentation.OracleformsEditor"
            contributorClass="universal.oracleforms.presentation.OracleformsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated universal3 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="universal.OOP.presentation.OOPModelWizardID"
            name="%_UI_OOPModelWizard_label"
            class="universal.OOP.presentation.OOPModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OOPModelFile.gif">
         <description>%_UI_OOPModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated universal3 -->
      <editor
            id="universal.OOP.presentation.OOPEditorID"
            name="%_UI_OOPEditor_label"
            icon="icons/full/obj16/OOPModelFile.gif"
            extensions="oop"
            class="universal.OOP.presentation.OOPEditor"
            contributorClass="universal.OOP.presentation.OOPActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated universal3 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="universal.microservice.presentation.MicroserviceModelWizardID"
            name="%_UI_MicroserviceModelWizard_label"
            class="universal.microservice.presentation.MicroserviceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MicroserviceModelFile.gif">
         <description>%_UI_MicroserviceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated universal3 -->
      <editor
            id="universal.microservice.presentation.MicroserviceEditorID"
            name="%_UI_MicroserviceEditor_label"
            icon="icons/full/obj16/MicroserviceModelFile.gif"
            extensions="microservice"
            class="universal.microservice.presentation.MicroserviceEditor"
            contributorClass="universal.microservice.presentation.MicroserviceActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated universal3 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="universal.visualization.presentation.VisualizationModelWizardID"
            name="%_UI_VisualizationModelWizard_label"
            class="universal.visualization.presentation.VisualizationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/VisualizationModelFile.gif">
         <description>%_UI_VisualizationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated universal3 -->
      <editor
            id="universal.visualization.presentation.VisualizationEditorID"
            name="%_UI_VisualizationEditor_label"
            icon="icons/full/obj16/VisualizationModelFile.gif"
            extensions="visualization"
            class="universal.visualization.presentation.VisualizationEditor"
            contributorClass="universal.visualization.presentation.VisualizationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated universal3 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="universal.rails.presentation.RailsModelWizardID"
            name="%_UI_RailsModelWizard_label"
            class="universal.rails.presentation.RailsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RailsModelFile.gif">
         <description>%_UI_RailsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated universal3 -->
      <editor
            id="universal.rails.presentation.RailsEditorID"
            name="%_UI_RailsEditor_label"
            icon="icons/full/obj16/RailsModelFile.gif"
            extensions="rails"
            class="universal.rails.presentation.RailsEditor"
            contributorClass="universal.rails.presentation.RailsActionBarContributor">
      </editor>
   </extension>

</plugin>
